*:focus{
    outline: none;
}
body{
    margin: 0px;
    background-color: #f6f6f7;
    margin-bottom: 100px;
    font-family: system-ui;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #24aeb1;
    height: 90px   ;
}

#inpu1>span>p>#inpu3{
    color: grey;
    padding-left: 25px;
}
#navbar>div>div>img{
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right: 5px;
}

#navbar>div>div>p{
    color: white;
}

#navbar>div{
    display: flex;

}

form>input{
    font-size: 18px;
}

#navbar>div>div{
    display: flex;
    margin-top: 25px;
    margin-right: 10px;
}
#navbar>div>input{
    width: 550px;
    height: 48px;
    margin-top: 25px;
    border-color: transparent;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    margin-left: -60px;
    
}
#navbar>div>img{
    width: 250px;
    height: 70px;
    margin-top: 10px;
    margin-left: -50px;
}

#parent-box{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    background-color: white;
}
#parent-box>div>div>p{
    width: 380px;
}

#parent-box>div>div>form>p{
    font-size: 11px;
    margin-bottom: -7px;
}

form>input{
    display: block;
    width: 80%;
    border: none;
    height: 40px;
    margin-bottom: 20px;
}

#inpu{
    display: block;
    width: 50%;
    border: none;
    height: 48px;
    border-bottom: 2px solid gray;
}

#inpu1{
    background-color: white;
    width: 220px;
    height: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
}
#inpu1>span>p{
    margin-left: 20px;
    margin-top: 15px;
}

#inpu1>span>p>span{
    color: #24aeb1;
}